// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    background-color: #112034;
    color: white;
}
h1{
    text-align: center;
}

.navbar{
    
    background-color:#0cd977;
    a{
        color: white;
    }
}


.jumbotron{
    text-align: center;
    background-color: #002929;
}
.table{
    color: white;
}
.card {
    background-color: #112034 ;
}
